// place your custom styles here
@font-face {
    font-family: 'Candy';
    src: url('/assets/font/Candy.ttf');
    font-display: swap;
}

* {
    font-family: Candy !important;
}

.vp-hero-info {
    padding: 45px;

    .vp-hero-image{
        border-radius: 50%;
        opacity: 1 !important;
        animation: rotate 30s linear infinite;
    }
}

#main-content .vp-features .vp-feature-item{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);

    .vp-feature-title{
        display: flex;
        align-items: center;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* 从0度开始 */
    }
    to {
        transform: rotate(360deg); /* 旋转到360度 */
    }
}



